<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PropertiesReader.environments" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="PropertiesReader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <PropertiesReader.environments>
            <setting name="available" serializeAs="String">
                <value>lan, dev, local, internal | test, staging, demo | live, release, production, prod</value>
            </setting>
            <setting name="environment" serializeAs="String">
                <value>dev</value>
            </setting>
        </PropertiesReader.environments>
        <PropertiesReader.Properties.Settings>
            <setting name="hostname" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="username" serializeAs="String">
                <value>user</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value>pass</value>
            </setting>
            <setting name="database" serializeAs="String">
                <value>dbname</value>
            </setting>
            <setting name="port" serializeAs="String">
                <value>3036</value>
            </setting>
        </PropertiesReader.Properties.Settings>
    </applicationSettings>
</configuration>